<div padding class="bg-primary h-100">
  <div class="main-content">
    <h2>Calcule seu IMC!</h2>
    <div>
      <ion-item class="input-item-filled">
        <ion-input type="number" placeholder="Peso Ex: 75.5" [(ngModel)]="peso" step="0.01" ></ion-input>
      </ion-item>
      <ion-item class="input-item-filled">
        <ion-input type="number" placeholder="Altura Ex: 1.80" [(ngModel)]="altura" step="0.01">
        </ion-input>
      </ion-item>
      <button ion-button class="btn-secondary btn btn-large" (click) = "calcularIMC()" >
        Calcular
      </button>
    </div>
  </div>
 
</div>
